.password-field{
  position: relative;
  .password-toggle{
    position: absolute;
    top: 9px;
    right: 0;
    background: transparent;
    padding: 0 10px;
    &, &:focus, &:active, &:hover{
      border: none;
      outline: none;
      box-shadow: none;
    }
    i{
      font-size: 18px;
      transform: translateY(3px);
      color: #cdced3;
      display: inline-block;
    }
  }
}
::ng-deep {
  .rtl-mode {
    .password-field{
      .password-toggle{
        right:auto !important;
        left: 0;
      }
    }
  }
}
